@charset "UTF-8";
/* CSS Document */
.order {
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size: 20px;
background-image: ;
background-repeat:no-repeat;
background-size:cover;
padding-top: 50px
	
	
}
header {
background-image:url("../mainpagephotos/market2.jpeg");
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
height: 300px;
width:100%;
	
}

.button{
display: inline-flex;
height:60px;
padding: 0;
background: #0C0C0C;
border:none;
outline:none;
border-radius:5px;
overflow:hidden;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size: 30px;
font-weight:300;
cursor: pointer;
color: white;
		
}
.button:hover {
	background:#EBBBEA
}
.button:active {
	
	background:#0C0C0C;
}

.button__text,
.button__icon {
	display: inline-flex;align-items: center;
	padding: 0 24px;
	color:white;
	height:100%;
}



@media (max-width: 1050px){
}

@media (min-width: 650px){
}